# Ignore everything
*

!.bashrc
!.config/procps/toprc
!.config/terminator/config
!.ghci
!.gitconfig
!.gitignore
!.idea-config/config/idea.jdk
!.idea-config/config/idea.properties
!.idea-config/config/idea64.vmoptions
!.ideavimrc
!.inputrc
!.mavenrc
!.npmrc
!.ssh/config
!.stalonetrayrc
!.tmux.conf
!.xmobarrc
!.xmonad/xmonad.hs
!LICENSE
!README.md
!bin/clean_maven_local_repository.sh
!bin/dotfiles-pull.sh
!bin/idea
!bin/monitor-aupark.sh
!bin/monitor-home.sh
!bin/monitor-onthego.sh
!bin/monitor-vysoka.sh
!bin/nixos-patching-common.sh
!bin/patch_gradle.sh
!bin/patch_node.sh
!bin/wallpaper
!.local/share/git-plus
