[user]
name = Pawel Kruszewski
email = kruszewsky@gmail.com
  sslCAInfo=~/development/projects/o2/certifikat/ca.pem
[core]
editor = vim
excludesfile = ~/Documents/gitignore_global.txt
filemode = false
keepbackups = false
prompt = false
trustctime = false
trustexitcode = false
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[difftool "sourcetree"]
	cmd = 'bcompare' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = 'bcompare' \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
trustExitCode = true
[push]
default = matching
[color]
ui = true
[credential]
helper = cache
[alias]
last = log -1 --stat
cp = cherry-pick
co = checkout
cl = clone
ci = commit
st = status -sb
br = branch
unstage = reset HEAD --
dc = diff --cached
lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
[init]
	templatedir = ~/.git_template
[merge]
	tool = bc
