# Ignore everything
*

!q_qwerty.txt
!.bashrc
!.config
!.config/procps
!.config/procps/toprc
!.config
!.config/terminator
!.config/terminator/config
!.ghci
!.gitconfig
!.gitignore
!.idea-config
!.idea-config/config
!.idea-config/config/idea.jdk
!.idea-config/config/idea.properties
!.idea-config/config/idea64.vmoptions
!.ideavimrc
!.inputrc
!.mavenrc
!.npmrc
i.ssh
!.ssh/config
!.stalonetrayrc
!.tmux.conf
!.xmobarrc
!.xmonad
!.xmonad/xmonad.hs
!LICENSE
!README.md
!bin
!bin/clean_maven_local_repository.sh
!bin/dotfiles-pull.sh
!bin/intellij-idea
!bin/monitor-aupark.sh
!bin/monitor-home.sh
!bin/monitor-onthego.sh
!bin/monitor-vysoka.sh
!bin/nixos-patching-common.sh
!bin/patch_gradle.sh
!bin/patch_node.sh
!bin/wallpaper
!.local
!.local/share
!.local/share/git-plus
!.ripgreprc
!.vimium-options.json
