# Ignore everything
*
!.npmrcs
!.npmrcs/default
!.asciidoc/
!.asciidoc/asciidoc.conf
!.bashrc
!.config
!.config/alacritty
!.config/nixpkgs
!.config/nixpkgs/config.nix
!.config/nixpkgs/overlays
!.config/nixpkgs/overlays/*
!.config/alacritty/alacritty.yml
!.config/bat/config
!.config/procps
!.config/procps/toprc
!.config/terminator
!.config/terminator/config
!.freemind
!.freemind/user.properties
!.ghci
!.gitconfig
!.gitignore
!.idea-config
!.idea-config/config
!.idea-config/config/idea.jdk
!.idea-config/config/idea.properties
!.idea-config/config/idea64.vmoptions
!.ideavimrc
!.inputrc
!.local
!.local/home-backup
!.local/home-backup/rsync.exclude.files.txt
!.local/share
!.local/share/git-plus
!.mavenrc
!.mitmproxy
!.mitmproxy/config.yaml
!.ripgreprc
!.ssh
!.ssh/config
!.stalonetrayrc
!.tmux.conf
!.v-drive
!.v-drive/**
!.vimium-options.json
!.xmobarrc
!.xmonad
!.xmonad/xmonad.hs
!LICENSE
!README.md
!bin
!bin/clean_maven_local_repository.sh
!bin/daily-home-backup.sh
!bin/dotfiles-pull.sh
!bin/intellij-idea
!bin/monitor-*.sh
!bin/nixos-patching-common.sh
!bin/patch_gradle.sh
!bin/patch_node.sh
!bin/wallpaper
!bin/weather.sh
!bin/z.sh
!bin/jpm
!bin/enable-elasticsearch-in-docker.sh
