set incsearch
set nocompatible               " choose no compatibility with legacy vi
set cursorline " highlight the line of the cursor
set scrolloff=3 " have some context around the current line always on screen
set list " Show invisible characters
set history=10000
set foldlevelstart=20
let mapleader=","


" new line below/over
nmap <leader>o o<Esc>
nmap <leader>O O<Esc>
" paste lines from unnamed register and fix indentation
nmap <leader>m gt
nmap <leader>n gT
nmap <leader>v "+p

" autoformatter as in Intellij IDEA
map <leader>a :Autoformat<CR>

" windows movements
nmap <C-H> <C-W>h
nmap <C-J> <C-W>j
nmap <C-K> <C-W>k
nmap <C-L> <C-W>l
map <A-h> <C-W>h
map <A-j> <C-W>j
map <A-k> <C-W>k
map <A-l> <C-W>l
nmap <C-C> <C-W>c
nmap <C-N> <C-W>n

" up and down in command line mode
cmap <C-j> <Down>
cmap <C-k> <Up>
set splitright
set splitbelow

" String to put at the start of lines that have been wrapped.
set showbreak=>\

"" Searching
set hlsearch
set ignorecase                  " searches are case insensitive...
set smartcase                   " ... unless they contain at least one capital letter
set gdefault                    " have :s///g flag by default on

"" Plugins emulation
set multiple-cursors            " enable multiple cursors from version 0.50
set surround

"" integrate with system clipboard
set clipboard+=unnamed
